# Backend Environment Variables
DATABASE_URL="postgresql://itxstudie:password@localhost:5432/itxstudie_db?schema=public"
JWT_SECRET="super-secret-key-change-me-in-production"

# Frontend Environment Variables
NEXT_PUBLIC_API_URL="http://localhost:3000"
